@media screen and (max-width: 600px) {
  #contact {
    height: 40hv;
  }
  #profile{
    height: 85vh;
    margin-bottom: 0;

  }
  .details-container {
    width: 80%;
  }
  .technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-container {
    display: inline;
  }
  

}
@media screen and (max-width: 400px) {
  #profile{
    height: 100vh;
    margin-bottom: 0;
  }
  .text-container {
    width: 70%;
  
  }

}
@media screen and (max-wodth: 1400px) {
  #profile{
    height: 83vh;
    margin-bottom: 6rem;
  }
  
}
@media screen and (max-width: 1200px) {
  .arrow {
    display: none;
  }
  #nav_des {
    display: none;
  }
  #nav_mob {
    display: flex;
  }
  #contact {
    margin-top: 4rem;
  }
  #profile, .picture_container{
    display: block;
  }
  #tech, .skills-container {
    margin-top: 2rem;

  }
  section {
    height: fit-content;
    margin: 0 5%;
  }

  .picture_container {
    width: 250px;
    height: 250px;
    margin: 0 auto 2rem;
  }

  section {
    margin: 5% 5%;
  }
  .floral {
    width: 100%;
    margin-bottom: 3rem;
  }
  .floralpic {
    width: 100%;  
  }
}
