@media screen and (max-width: 600px) {
  #nav_des {
    display: none;
  }
  #nav_mob {
    display: flex;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  #about {
    display: inline;
  }
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  #profile {
    display: block;
    height: fit-content;
  }
  #about {
    height: fit-content;
  }

  section {
    height: fit-content;
  }
  .picture_container {
    width: 300px;
    height: 300px;
    margin: 0 auto 2rem;
  }

  section {
    margin: 0 5%;
  }
}
